/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Futura", Helvetica, Arial, sans-serif;
}

/* GLOBAL */
a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
}

/* ============================
        NAVBAR
============================ */

.gucci-navbar {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;
  background-color: #ffffff;
  font-size: 15px;
  border-bottom: 1px solid #e8e8e8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.plus-icon {
  font-size: 20px;
  font-weight: bold;
}

.contact-link {
  font-size: 14px;
}

/* CENTER */
.nav-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.brand-title {
  font-family: Georgia, "Times New Roman", serif;
  font-size: 36px;
  letter-spacing: 3px;
  margin-right: 40px;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 22px;
  font-size: 14px;
}

.nav-icon-link {
  font-size: 18px;
  display: flex;
  align-items: center;
}

/* SEARCH BOX */
.search-box {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 10px;
  border-bottom: 1px solid black;
}

.search-input {
  border: none;
  background: transparent;
  width: 120px;
  font-size: 14px;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  font-size: 14px;
}

/* ============================
        HERO SECTION
============================ */

.gucci-hero {
  width: 100%;
  height: 100vh;
  background-image: url("https://media.gucci.com/dynamic/b3c8/8bSKrMz5DxsNGjhXcsWro4YPZMR5PXzygOjtkzIuWr8xh2GYup7LdQ35V2E1UvD7Fr+KRIhJpTw_HaJizvBoClWE97gKbLgb147I1IJzZ_FrD5yaK3PRSdXm66KtAN_uKufsRUHPL7gaacCjo9G0dS7OyYFXfMKd5xtKMAvuNIOlELn_HN3hhLEHSOvIZdn81ECHabk72EyATw9J3jND8r4Gq6sQeagyd9ocUCcsjb3uMwFMMKQ968defbnRv4wRmbf7Mcvb2N_cJDAXtfya6usXdU5Q_Jc8UPjc2vSAqAsCeniluFP7ldQON7lc5J17a7zfnH9ZZN9IQQ7mFAmtWapF49xH5MuhdWbEsBIrOrAcNCU0oUMT1JqzLHXTyO1Y/HP_Hero-FullBleed-Desktop_Gucci-GIFT-GIVING-NOV25-Set-1-03-0320-E_001_Default.png");
  background-size: cover;
  background-position: center;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.hero-content p {
  font-size: 40px;
  margin-top: 400px;
}

.buttons {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.btn {
  padding: 14px 24px;
  border: 1px solid white;
  background-color: white;
  border-radius: 2px;
  color: black;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.btn:hover {
  /* background: white;
  color: black; */
  padding: 8px 22px;
}


/* ============================
   GIFTS SECTION
============================ */
.gifts-container {
  width: 100%;
  padding: 80px 0;
  background-color: white;
  text-align: center;
  font-family: Futura, Helvetica, Arial, sans-serif;
}

.gifts-title {
  font-size: 26px;
  letter-spacing: 2px;
  margin-bottom: 50px;
  font-weight: 500;
}

/* GRID */
.gifts-grid {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: 0 auto;
}

/* CARD */
.gift-card {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease;
}

.gift-card:hover .gift-image {
 width: 90%;
  height: 400px;
  
}

.gift-image {
  width: 100%;
  height: 420px;
  object-fit: cover;
  transition: 0.4s ease;
  border-radius: 10px;
}

/* LABEL */
.gift-label {
  margin-top: 15px;
  font-size: 16px;
  letter-spacing: 1px;
}

/* ============================
   RESPONSIVE
============================ */

@media (max-width: 1024px) {
  .gifts-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gift-image {
    height: 250px;
  }
}

@media (max-width: 600px) {
  .gifts-grid {
    grid-template-columns: 1fr;
  }

  .gift-image {
    height: 220px;
  }

  .gifts-title {
    font-size: 22px;
  }
}


/* men bag section */
.gucci-hero-men {
  width: 100%;
  height: 100vh;
  background-image: url("https://images.ctfassets.net/brzb6u29244a/3X35v10PjB379Ms9aLFOI5/9f9ff36e67797f0740344ed1c15061cc/LandscapeXL_Gucci-GIFT-GIVING-NOV25-Set-1-02-0239-D_001_Default.png?w=2000&fm=avif&q=50");
  background-size: cover;
  background-position: center;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-men-content {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.hero-men-content p {
  font-size: 40px;
  margin-top: 400px;
}

.buttons-bag {
  display: flex;
  gap: 25px;
  justify-content: center;
}

.btn1 {
  padding: 14px 24px;
  border: 1px solid white;
  background: transparent;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: 0.3s ease;
}

.btn1:hover {
  /* background: white;
  color: black; */
  padding: 10px 22px;
}