* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Futura", Helvetica, Arial, sans-serif;
}


/* NAVBAR */
.gucci-navbar {
  width: 100%;
  height: 70px;          /* FIXED HEIGHT */
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: 1px solid #eee;
  text-decoration: none;
}

.gucci-navbar a {
  text-decoration: none;
  color: black;
  position: relative;
}

/* UNDERLINE ON HOVER */
.gucci-navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;       /* adjust underline position */
  width: 0%;
  height: 1.5px;
  background: black;
  transition: width 0.3s ease;
}

.gucci-navbar a:hover::after {
  width: 100%;
}


.nav-left,
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  font-size: 30px;
  font-family: serif;
  letter-spacing: 10px;
  margin: 0;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

/* HERO — NO GAP, IMAGE TOUCHES NAVBAR */
.gucci-hero {
  padding-top: 70px;      /* EXACT SAME AS NAVBAR HEIGHT */
  height: 100vh;
  background-image: url("../assets/guccigift.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  margin-top: 120px; /* adjust as you like (80–160px) */
  text-align: center;
}

/* HERO TEXT */
.hero-content h1 {
  color: white;
  font-size: 45px;
  text-align: center;
  margin-top: 180px;
}

/* BUTTONS */
.buttons {
  margin-top: 120px;
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 30px;
  background: white;
  border: none;
  cursor: pointer;
  transition: 0.25s ease;     /* SLIGHT HOVER */
}

/* SLIGHT HOVER EFFECT */
.btn:hover {
  transform: scale(1.05);
  background: #f8f8f8;
}
