body {
  font-family: 'Futura', Helvetica, Arial, sans-serif;
}

/* Main container */
.login-container {
  width: 100%;
  max-width: 500px;
  margin: 70px auto;
  text-align: center;
  padding: 20px;
}

/* Page title */
.login-title {
  font-size: 36px;
  letter-spacing: 2px;
  font-weight: 400;
  margin-bottom: 40px;
}

/* Social Buttons */
.social-btn {
  width: 100%;
  height: 55px;
  border: 1px solid black;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 18px;
  cursor: pointer;
}

/* OR Divider */
.or-divider {
  margin: 40px 0;
  font-size: 14px;
  letter-spacing: 2px;
}

/* Email title & subtitle */
.email-title {
  font-size: 22px;
  letter-spacing: 2px;
  font-weight: 300;
  margin-bottom: 10px;
}

.email-subtitle {
  font-size: 14px;
  color: #444;
  margin-bottom: 30px;
}

/* Email input */
.email-input {
  width: 100%;
  height: 50px;
  border: 1px solid black;
  padding: 0 15px;
  font-size: 15px;
  margin-bottom: 10px;
}

/* Error message */
.error-text {
  color: red;
  font-size: 13px;
  margin-bottom: 15px;
}

/* Continue Button */
.continue-btn {
  width: 100%;
  height: 55px;
  background: #000000;
  color: white;
  border: none;
  font-size: 15px;
  letter-spacing: 1px;
  cursor: pointer;
}

.continue-btn:hover{
  background: #2d2c2c;
}

/* Join My Gucci */
.join-title {
  margin-top: 50px;
  font-size: 22px;
  letter-spacing: 2px;
}


/* JOIN MY GUCCI link */
.join-title {
  margin-top: 50px;
  font-size: 22px;
  letter-spacing: 2px;
  color: black;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  padding-bottom: 4px;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}

/* Hover underline like Gucci */
.join-title:hover {
  border-bottom: 1px solid black;
  letter-spacing: 3px;
}

