/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* Hero Section */


.hero-container {
  width: 100%;
  height: 90vh;
  background-image: url("./assets/guccimen1.avif");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to top, rgba(0,0,0,0.6), rgba(0,0,0,0));
  display: flex;
  align-items: flex-end;
  padding: 40px;
}

.hero-text {
  color: white;
}

.new-in {
  font-size: 12px;
  letter-spacing: 1px;
  opacity: 0.8;
  margin-bottom: 5px;
}

.main-title {
  font-size: 28px;
  margin: 0;
}

.subtitle {
  font-size: 12px;
  margin-top: 10px;
  max-width: 600px;
  opacity: 0.9;
}
.gucci-navbar {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.gucci-navbar a {
  text-decoration: none;
  color: black;
  position: relative;
}

.gucci-navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0%;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

.gucci-navbar a:hover::after {
  width: 100%;
}



.product-section {
  padding: 40px 60px;
}

.product-controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  font-size: 15px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px;
}

.product-card img {
  width: 100%;
  border-radius: 4px;
}

.product-card{
  transition: 0.3s ease;
}

.product-card:hover{
transform: scale(1.08);
}

.product-title {
  font-size: 15px;
  margin-top: 12px;
}

.product-price {
  font-size: 10px;
  color: #444;
}
